extends _includes/layout

block content
    .menu
        .block
            ul
                li.text-muted.text-uppercase
                    span Personal
                li
                    a(href="#profile") Profile
                li
                    a(href="#security") Security
                li
                    a(href="#notifications") Notifications
                li.text-muted.text-uppercase
                    span Tesla S.R.L.
                li
                    a(href="#business-profile") Business profile
                li
                    a(href="#e-invoicing") E-invoicing
                li._selected
                    a(href="#plan-and-limits") Plan and limits
                li
                    a(href="#team") Team
    .page 
        .screen.profile
            .container.card
                .block.information 
                    h1.plan-name Profile
        .screen.security
            .container.card
                .block.information 
                    h1.plan-name Security
        .screen.notifications
            .container.card
                .block.information 
                    h1.plan-name Notifications
        .screen.business-profile
            .container.card
                .block.information 
                    h1.plan-name Business profile
        .screen.e-invoicing
            .container.card
                .block.information 
                    h1.plan-name E-invoicing
        .screen.plan-and-limits._visible
            .container.card
                .block.information 
                    a.plan.plan-switcher.float-right(href="#change-plan") Change plan
                    h1.plan-name Invoicing Start
                    .price 
                        h2 6,99 
                        i.euro  &#xf153; 
                        span.text-muted._monthly /mo
                    .charge-info
                        .text-muted
                            span We'll charge 6,99 
                            i.euro  &#xf153; 
                            span on Jul 24, 2020
                        a.description(href="#change-card") Change card *** 5423 or billing info
                    .annual-switcher
                        button.btn._secondary Switch to annual plan 
                        span.description
                            span and save 24,00 
                            i.euro  &#xf153; 
                            span a year
                hr
                br
                .features 
                    h4 Explore new features
                    img.emoji(src="assets/img/dizzy.png" alt="")
                    .feature 
                        h3 Invoicing Premium
                        a(href="#close-feature").feature-close-link
                        ul.list-features 
                            li
                                p Unlimited outgoing e-invoices 
                            li 
                                p Unlimited connected banks 
                            li 
                                p 10 users
                            li 
                                p Expense management 
                        .purchase-info 
                            .price
                                h3
                                    i.euro &#xf153;
                                    span 20.99  
                                    span.text-muted._monthly  /mo
                                p.description 
                                    span billed annually or 24.99 
                                    i.euro  &#xf153;
                                    span billed monthly 
                            button.btn.plan-switcher._primary Upgrade
            .container.card.additional-info 
                .tabs
                    span(data-href="#limits").tab._selected Limits 
                    span(data-href="#invoices").tab Invoices 
                .tile.limits._visible
                    .limit 
                        .title
                            h4 Team members 
                            span 3  
                            span.text-muted  / 6
                        progress(value="0" max="6" data-value="3")
                        .description 
                            span Need more members? 
                            a(href="#change-plan").plan-switcher Upgrade your plan
                    .limit 
                        .title
                            h4 Outgoing e-invoices 
                            span.text-muted.word-prompt Unlimited
                        progress(value="0" max="100" data-value="100")
                        .description 
                            span Send as many e-invoices as you want 
                    .limit 
                        .title
                            h4 Connected sources (banks) 
                            span 5
                            span.text-muted  / 5
                        progress(value="0" max="5" data-value="5")._filled
                        .description 
                            span Need more banks to connect? 
                            a(href="#change-plan").plan-switcher Upgrade your plan
                .tile.invoices
                    .limit 
                        .title
                            h4 Team members 
                            span 6 
                            span.text-muted  / 6
                        progress(value="0" max="6" data-value="6")._filled
                        .description 
                            span Need more members? 
                            a(href="#change-plan").plan-switcher Upgrade your plan
                    .limit 
                        .title
                            h4 Outgoing e-invoices 
                            span.text-muted.word-prompt Unlimited
                        progress(value="0" max="100" data-value="0")
                        .description 
                            span Send as many e-invoices as you want 
                    .limit 
                        .title
                            h4 Connected sources (banks) 
                            span 1
                            span.text-muted  / 5
                        progress(value="0" max="5" data-value="1")
                        .description 
                            span Need more banks to connect? 
                            a(href="#change-plan").plan-switcher Upgrade your plan
        .screen.team
            .container.card
                .block.information 
                    h1.plan-name Team