// Commons
@import "variables";
@import "custom-reset";

// External
//@import "vendor/jquery.fancybox.css";
//@import "node_modules/swiper/swiper.scss";

// Base
@import "grid";
@import "mixins";
@import "base";
// @import "generated/sprites";
// @import "generated/svgsprites";
@import "fonts";

// Base components
@import "components/base/bk";
@import "components/base/block";
@import "components/base/btn";
@import "components/base/content";
@import "components/base/dev";
@import "components/base/form";
@import "components/base/footer";
@import "components/base/header";
@import "components/base/input";
@import "components/base/menu-toggler";
@import "components/base/rte";

// Project components