.svgsprite {
    display:inline-block;
    width:1em;
    height:1em;
    fill:currentColor;
    vertical-align:middle;

    {{#shapes}}
    &._{{base}} {
    	font-size:(math.div({{height.inner}},10))*1rem;
    	width:(math.div({{width.inner}},{{height.inner}}))*1em;
    }
    {{/shapes}}
}
